body {
  overflow-x: hidden;
}

.background {
  height: 100vh;
  width: 100vw;
  background: -webkit-linear-gradient(
    #c6e4ee 0%,
    #c6e4ee 40%,
    #fed1ae 60%,
    #faa0b9 70%,
    #cb7dcb 80%,
    #757ecb 100%
  );
  background-image: -moz-linear-gradient(
    #c6e4ee 0%,
    #c6e4ee 40%,
    #fed1ae 60%,
    #faa0b9 70%,
    #cb7dcb 80%,
    #757ecb 100%
  );
  background-image: -o-linear-gradient(
    #c6e4ee 0%,
    #c6e4ee 40%,
    #fed1ae 60%,
    #faa0b9 70%,
    #cb7dcb 80%,
    #757ecb 100%
  );
  background-image: linear-gradient(
    #c6e4ee 0%,
    #c6e4ee 40%,
    #fed1ae 60%,
    #faa0b9 70%,
    #cb7dcb 80%,
    #757ecb 100%
  );
  overflow: hidden;
  .cloud {
    width: auto;
    height: 15vh;
    filter: invert(1);
    position: absolute;
    // transform: translateX(50vw);
    overflow: hidden;
    // padding: 5vh;
    transition-duration: 20s;
    transition-property: margin-left;
    transition-timing-function: linear;
  }
  #cloud0 {
    top: 10vh;
    left: 4vw;
    margin-left: 0px;
    // transform: translateX(-10vw);
  }
  #cloud1 {
    top: 23vh;
    left: 37vw;
    margin-left: 0;
  }
  #cloud2 {
    top: 41vh;
    left: 21vw;
    margin-left: 0;
  }
  #cloud3 {
    top: 5vh;
    left: 67vw;
    margin-left: 0;
  }
  #cloud4 {
    top: 28vh;
    left: 85vw;
    margin-left: 0;
  }
}
