.oceanBackground1 {
  width: 105vw;
  // margin-left: -6vw;
  height: 100vh;
  position: absolute;
  left: 0px;
  top: 278vh;
  background-color: rgba(0, 95, 112, 1);
  // margin-bottom: 30vh;
}
.hook {
  position: absolute;
  top: 0;
  left: -50vw;
  z-index: 10;
  width: 5.5vw;
  height: auto;
  transform: translateY(-33vh);
}
.hookLine {
  height: 105vh;
  width: 0.45vw;
  position: absolute;
  top: 0;
  left: -50vw;
  z-index: 10;
  background-color: black;
  transform: translateY(-135vh) translateX(4.5vw);
}
.normFish {
  position: absolute;
  top: 250vh;
  z-index: 4;
  width: 15.5vw;
  height: auto;
  animation-name: normFishMovement;
  animation-timing-function: ease-in-out;
  animation-duration: 15s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  transform: ease-in-out 5s;
}

@keyframes normFishMovement {
  0% {
    transform: translate(0, 0) scale(-1, 1);
  }
  24% {
    transform: translate(50vw, 50vh) scale(-1, 1);
  }
  26% {
    transform: translate(50vw, 50vh) scale(1, 1);
  }
  49% {
    transform: translate(0, 25vh) scale(1, 1);
  }
  51% {
    transform: translate(0, 22vh) scale(-1, 1);
  }
  74% {
    transform: translate(72vw, 5vh) scale(-1, 1);
  }
  76% {
    transform: translate(72vw, 5vh) scale(1, 1);
  }
  98% {
    transform: translate(0, 0) scale(1, 1);
  }
  100% {
    transform: translate(0, 0) scale(-1, 1);
  }
}
