.oceanBackground1 {
  width: 105vw;
  // margin-left: -6vw;
  height: 100vh;
  position: absolute;
  left: 0px;
  top: 278vh;
  background-color: rgba(0, 95, 112, 1);
  // margin-bottom: 30vh;
}
.hook {
  position: absolute;
  top: 0;
  left: -50vw;
  z-index: 10;
  width: 2vw;
  height: auto;
  transform: translateY(-33vh);
}
.normFish {
  position: absolute;
  top: 250vh;
  z-index: 4;
  width: 15.5vw;
  height: auto;
  animation: normFishMovement;
}

@keyframes normFishMovement {
  0% {
  }
  100% {
  }
}
