.oceanBackground1 {
  width: 105vw;
  // margin-left: -6vw;
  height: 100vh;
  position: absolute;
  left: 0px;
  top: 278vh;
  background-color: rgba(0, 95, 112, 1);
  // margin-bottom: 30vh;
}
.hook {
  position: absolute;
  z-index: 10;
  width: 5.5vw;
  height: auto;
  transform: translateY(-33vh);
  top: 0;
  left: 45.5vw;
  right: 0;
  bottom: 0;
  // margin: auto;
}
.hookAnimation {
  animation: hookAnimate 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.hookLine {
  width: 0.44vw;
  height: 0;
  position: absolute;
  top: -30vh;
  left: 0;
  z-index: 10;
  background-color: black;
  transform: translate(-1vw, 1vh);
  transition-property: transform;
  transition-duration: 0.25s;
}
.normFish {
  position: absolute;
  top: 250vh;
  z-index: 4;
  width: 15.5vw;
  height: 10rem;

  background-image: url(../../images/fish.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 2rem;
}

.normFishAnimation {
  animation-name: normFishMovement;
  animation-timing-function: ease-in-out;
  animation-duration: 15s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  // transition: ease-in-out 5s;
  animation-play-state: running;
}
.shark {
  position: absolute;
  top: 250vh;
  z-index: 4;
  width: 23vw;
  height: 10rem;
  background-image: url(../../images/shark.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2rem;
  padding-left: 1.5rem;
}

.sharkAnimation {
  animation-name: sharkMovement;
  animation-timing-function: ease-in-out;
  animation-duration: 20s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@keyframes normFishMovement {
  0% {
    top: 250vh;
    left: 0vw;
    transform: scale(-1, 1);
  }
  24% {
    top: 300vh;
    left: 50vw;
    transform: scale(-1, 1);
  }
  26% {
    top: 300vh;
    left: 50vw;
    transform: scale(1, 1);
  }
  49% {
    top: 275vh;
    left: 0vw;
    transform: scale(1, 1);
  }
  51% {
    top: 272vh;
    left: 0vw;
    transform: scale(-1, 1);
  }
  74% {
    top: 255vh;
    left: 72vw;
    transform: scale(-1, 1);
  }
  76% {
    top: 255vh;
    left: 72vw;
    transform: scale(1, 1);
  }
  98% {
    top: 250vh;
    left: 0vw;
    transform: scale(1, 1);
  }
  100% {
    top: 250vh;
    left: 0vw;
    transform: scale(-1, 1);
  }
}

@keyframes sharkMovement {
  0% {
    left: 0vw;
    top: 300vh;
    transform: scale(1, 1);
  }
  37% {
    left: 43vw;
    top: 298vh;
    transform: scale(1, 1);
  }
  38% {
    left: 44vw;
    top: 300vh;
    transform: scale(-1, 1);
  }
  54% {
    left: 36vw;
    top: 264vh;
    transform: scale(-1, 1);
  }
  55% {
    left: 36vw;
    top: 264vh;
    transform: scale(1, 1);
  }
  80% {
    left: 65vw;
    top: 296vh;
    transform: scale(1, 1);
  }
  81% {
    left: 65vw;
    top: 297vh;
    transform: scale(-1, 1);
  }
  98% {
    left: 0vw;
    top: 300vh;
    transform: scale(-1, 1);
  }
  100% {
    left: 0vw;
    top: 300vh;
    transform: scale(1, 1);
  }
}
@keyframes hookAnimate {
  0% {
    top: 55.6vh;
    left: 38.1vw;
  }
  25% {
    top: 60vh;
    left: 37.5vw;
  }
  50% {
    top: 57vh;
    left: 37.5vw;
  }
  75% {
    top: 54vh;
    left: 37.5vw;
  }
  100% {
    top: 55.6vh;
    left: 38.1vw;
  }
}

// @keyframes hookLineAnimate {
//   0% {
//     top: 55.6vh;
//     left: 42.6vw;
//   }
//   25% {
//     top: 60vh;
//     left: 42vw;
//   }
//   50% {
//     top: 57vh;
//     left: 42vw;
//   }
//   75% {
//     top: 54vh;
//     left: 42vw;
//   }
//   100% {
//     top: 55.6vh;
//     left: 42.6vw;
//   }
// }

// @keyframes hookDown {
//   0% {
//     top: 0px;
//   }
//   100% {
//     top: 2360px;
//   }
// }
