// Holds Everything in the projects area
.projectsTab {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 100vh;
  z-index: 5;
  padding-right: 2rem;
  padding-left: 2rem;
  .sunrays {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 100vh;
    z-index: 4;
    opacity: 0.5;
  }
  .projectsTitle {
    width: calc(100vw - 4rem);
    height: auto;
    font-size: 4rem;
    text-align: center;
    color: white;
  }
  .card {
    -webkit-box-shadow: 0px 0px 16px 3px white;
    -moz-box-shadow: 0px 0px 16px 3px white;
    box-shadow: 0px 0px 16px 3px white;
  }
}
