.resumeTab {
  position: absolute;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 0;
  display: none;
  left: 0;
  top: 100vh;
  z-index: 5;
  padding-right: 2rem;
  padding-left: 2rem;
  .resumeTitle {
    width: calc(100vw - 4rem);
    height: auto;
    font-size: 4rem;
    text-align: center;
    color: white;
    @include font(bold);
  }
  h1 {
    color: white;
    font-size: 2rem;
    text-align: center;
    @include font(light);
  }
  iframe {
    width: 50vw;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
